version = 0.29.0
profile = default

# Options which differ from this version-profile pair:

# TODO: module-indent
# TODO: let-binding-deindent-fun
assignment-operator=end-line
break-cases=fit-or-vertical
break-fun-sig=fit-or-vertical
break-infix=fit-or-vertical
break-sequences=false
cases-exp-indent=2
doc-comments-padding=1
doc-comments-tag-only=fit
doc-comments=before
exp-grouping=parens
field-space=tight-decl
if-then-else=keyword-first
indicate-multiline-delimiters=closing-on-separate-line
infix-precedence=parens
let-and=sparse
let-binding-spacing=double-semicolon
let-module=sparse
max-indent=2
ocaml-version=4.13.1
parens-ite=true
parens-tuple=multi-line-only
parse-docstrings=true
sequence-blank-line=compact
stritem-extension-indent=2
wrap-comments=true
